@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #ffffff;
}

/* 汚物は消毒だｧーー！！ */
body > input{
    display: none;
}

.generate-select{
    display: block;
    padding: 5px 10px;
}

.generate-select::after{
    clear: both;
    display: block;
    content: "";
}

.generate-select p{
    float: left;
    line-height: 32px;
}

.toggle{
    float: left;
    margin-left: 10px;
}

/* 座標指定用の親箱 */
.toggle{
    position: relative;
}

.toggle_mark,
.toggle_mark i{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: #ffffff;
}

.toggle_mark{
    width: 51px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid #e5e5e5;
    transition: all 0.30s ease;
}

.toggle_mark i{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
    0 3px 3px 0 rgba(0,0,0, 0.15);
    background: #ffffff;
    transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

/* すーちゃん最高！ http://jsdo.it/xl1/a6OR */
label:active .toggle_mark{
    min-width: 1px; /* redraw */
}

/*
ボタン掴んでいる間幅を広げる
*/
input#elem1:active ~ [for="elem1"] .toggle_mark i,
input#elem2:active ~ [for="elem2"] .toggle_mark i,
input#elem3:active ~ [for="elem3"] .toggle_mark i{
    width: 35px;
}

/*
:active と :checked の時の背景色を変える。（背景と言っているけど実態は border-color ）
*/
input#elem1:active  ~ [for="elem1"] .toggle_mark,
input#elem1:checked ~ [for="elem1"] .toggle_mark,
input#elem2:active  ~ [for="elem2"] .toggle_mark,
input#elem2:checked ~ [for="elem2"] .toggle_mark,
input#elem3:active  ~ [for="elem3"] .toggle_mark,
input#elem3:checked ~ [for="elem3"] .toggle_mark{
    border: 16px solid #4cd964;
}

/*
座標ずらす
*/
input#elem1:checked ~ [for="elem1"] .toggle_mark i,
input#elem2:checked ~ [for="elem2"] .toggle_mark i,
input#elem3:checked ~ [for="elem3"] .toggle_mark i{
    left: 21px;
}

/*
チェック済みのボタン掴んでも背景と座標
*/
input#elem1:checked:active ~ [for="elem1"] .toggle_mark,
input#elem2:checked:active ~ [for="elem2"] .toggle_mark,
input#elem3:checked:active ~ [for="elem3"] .toggle_mark{
    border: 16px solid #e5e5e5;
}
input#elem1:checked:active ~ [for="elem1"] .toggle_mark i,
input#elem2:checked:active ~ [for="elem2"] .toggle_mark i,
input#elem3:checked:active ~ [for="elem3"] .toggle_mark i{
    left: 14px;
}

/* 表示部 */
.view{
    margin-top: 15px;
    padding: 15px;
    background-color: #e5e5e5;
}

.view [id^="target"]{
    display:none;
    line-height: 1.4;
}

input#elem1:checked ~ .view #target1,
input#elem2:checked ~ .view #target2,
input#elem3:checked ~ .view #target3{
    display: block;
    opacity: 0;
    height: 0;
    -webkit-animation-name: viewToggle, marking;
    -webkit-animation-duration: 0.39s, 1.17s;
    -webkit-animation-timing-function: linear, linear;
    -webkit-animation-iteration-count: 1, 1;
    -webkit-animation-fill-mode: forwards, forwards;

    animation-name: viewToggle, marking;
    animation-duration: 0.39s, 1.17s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

@-webkit-keyframes viewToggle {
  0% {
    opacity: 0;
    height: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: 1.4em;
  }
}

@keyframes viewToggle {
  0% {
    opacity: 0;
    height: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: 1.4em;
  }
}

@-webkit-keyframes marking {
  0% {
    color: rgb(0,0,0);
  }

  33% {
    color: rgb(0,0,0);
  }

  50%{
    color: rgb(255,0,0);
  }

  80%{
    color: rgb(255,0,0);
  }

  100% {
    color: rgb(0,0,0);
  }
}

@keyframes marking {
  0% {
    color: rgb(0,0,0);
  }

  33% {
    color: rgb(0,0,0);
  }

  50%{
    color: rgb(255,0,0);
  }

  80%{
    color: rgb(255,0,0);
  }

  100% {
    color: rgb(0,0,0);
  }
}

input#elem1:checked:active ~ .view #target1,
input#elem2:checked:active ~ .view #target2,
input#elem3:checked:active ~ .view #target3{
    color: red;
}